<div class="card" style="width: 30rem;">
    <h3> View Employee Deatails</h3>
    <img class="card-img-top" src="/assets/img/159236.png" height="300px" width="300px" alt="Card image cap">
    <div class="card-body">
        <div>
            <div>
                <br><label><b>First Name: </b></label> <span class="employee-detail"> {{ employee.firstName }}</span>
            </div>
            <div>
                <label><b>Last Name: </b></label> <span class="employee-detail"> {{ employee.lastName }}</span>
            </div>
            <div>
                <label><b>Email Id: </b></label> <span class="employee-detail"> {{ employee.emailId }}</span>
            </div>
        </div>
    </div>
  </div>
  

